<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/result.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <title>Result</title>
</head>

<body>
    <div class="wrapper">

        <h1>Submitted Info</h1>
            <div class="result">
                <div class="result-box">
                    <h4>Name:</h4>
                    <h4>Dojo Location:</h4>
                    <h4>Favorite Language:</h4>
                    <h4>Comment:</h4>
                </div>
                <div class="result-box">
                    @{
                    <h4>@ViewBag.Name</h4>
                    <h4>@ViewBag.Location</h4>
                    <h4>@ViewBag.Language</h4>
                    <h4>@ViewBag.Comment</h4>
                    }
                </div>
            </div>

        
            <div class="submitButton">
                <button class="btn btn-primary">
                    <a href="/">Go Back</a>
                </button>
            </div>
           
    </div>
</body>

</html>