* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    margin: 40px auto;
    width: 70%;
    /* background-color:rgb(220, 210, 235); */
    border: 3px solid rgb(220, 210, 235);
    border-radius: 5px;
    padding: 30px;
}

.wrapper h1 {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 30px;
}

.result-box h4{
    margin-bottom: 20px;
}

.result {
    display: flex;
    justify-content: space-evenly;
}

.submitButton {
    /* float: right; */
    display: flex;
    justify-content: flex-end;
}

.submitButton a {
    color: white;
}
